body,html{
    margin: 0;
}

main{
    background-color: rgb(221, 219, 219);
    font-family: 'Courier New', Courier, monospace;
}

main>article{
    display: flex;
    font-size: large;
}

main .description{
    display: flex;
    flex-direction: column;
    margin: 0;
    line-height: 0;
}

.bouton{
    display: flex;
    justify-content: center;
    align-content: center;
    font-size: x-large;
    height: 30px;
    width: 250px;
}

#bouton_prix{
    border: 1px solid blue;
    border-radius: 5px;
    background-color: teal;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-size: large;
    cursor: pointer;
}

#bouton_prix:hover{
background-color: beige;   
}

main .Selection{
    display: flex;
    justify-content: center;
}

main .Selection{
    font-size: larger;
    background-color: rgb(255, 255, 101);
}

.img_selection{
display: flex;
flex-wrap: wrap;
}

.img_selection figure>img{
    width:390px
}

.img_selection>figure{
    margin:0;
    padding-left: 20px;

}

main>article:nth-child(2){
    display: flex;
    flex-direction: column;
}