html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: rgba(129, 125, 125, 0.514);
}

/*debuet css moha*/
.principal {
  display: flex;
  justify-content: space-between;
}

.logomoh {
  height: fit-content;
  border: 1px transparent #000;
  border-radius: .45rem;
  padding: 10px 20px;
  font-size: 1.5rem;
  font-weight: bold;
  margin-top: 20px;
}

.logomoh a {
  text-decoration: none;
  color: #ed3c57;
}

.logomoh:hover {
  background-color: #fff;
  color: #000;
}

.logomoh a:hover {
  color: #000;
}

.navabr-moh .navli {
  display: flex;
}

.navli li {
  margin: 0 20px;
  text-decoration: none;
  list-style: none;
}

.navli li a {
  text-decoration: none;
  color: #FDD20B;
  list-style: none;
  font-size: 1.2rem;
  font-weight: bold;
  border-radius: .45;
}

.navli .active {
  color: #FDD20B;
}

.navli li a:hover {
  background-color: #fff;
  color: #000;
  padding: 10px 20px;
  border-radius: .45rem;
}

.menubut {
  position: absolute;
  width: 40px;
  top: 45px;
  right: 50px;
  display: none;

}

@media screen and (max-width: 768px) {
  .navabr-moh .navli {
    position: absolute;
    display: flex;
    flex-direction: column;
  }

  .menubut {
    display: block;
  }

  .navabr-moh {
    position: absolute;
    backdrop-filter: blur(4px);
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: -100%;
    transition: 0.5s;
  }

  .mobile-menu {
    margin-left: 0;
  }

  .navli {
    align-items: center;
  }

  .navli li {
    margin: 25px 0;
    font-size: 1.2em;

  }

  .navli li a {
    color: #000;
    align-items: center;
  }

  footer {
    color: #FDD20B;
  }

  .genecond:hover {
    border: 1px transparent rgb(22, 21, 21);
    background-color: #fff;
    border-radius: .45rem;
    color: #FDD20B;
  }
}

footer {
  height: 6%;
  position: fixed;
  bottom: 0;
  display: flex;

  width: 100%;
  opacity: 0.7;
  color: #FDD20B;
  ;
}

footer .footdiv {
  width: 34%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 1.2rem;
}

.footdiv .footlog {
  display: flex;
  gap: 0.4rem;
  font-weight: bold;
  margin-bottom: 20px;
}

.genecond {
  font-weight: bold;
}

.genecond a {
  text-decoration: none;
  text-transform: none;
  color: #FDD20B;
}

.genecond:hover {
  border: 1px transparent rgb(22, 21, 21);
  background-color: #fff;
  border-radius: .45rem;
}

/*debut css patrick*/
main {
  height: 100%;
}



.slider-container {
  max-width: 800px;
  position: relative;
  height: 37%;
  overflow: hidden;
  background-size: cover;
  background-repeat: repeat-x;
  background-image: url('../img/background_desktop.jpg');
  background-position: center;
}

.menu {
  position: absolute;
  left: 0;
  z-index: 99;
  width: 100%;
  bottom: 0;
  text-align: center;
}

.menu label {
  cursor: pointer;
  display: inline-block;
  width: 10px;
  height: 10px;
  background: #ccc;
  border-radius: 50px;
  margin: 0 0.2em 1em;
}

/*.menu label:hover,.menu label:focus {
    background: #1c87c9;
}*/
.slide-input {
  opacity: 0;
}

.slide-img {
  width: 100%;
  position: absolute;
  top: 0;
  left: 100%;
  z-index: 10;
  transition: left 0.20s 0.20s;
  object-fit: contain;
  height: 100%;
}

[id^="slide"]:checked+.slide-img {
  left: 0;
  z-index: 50;
  transition: left 0.4s ease-out;
}

.imgpromo {
  width: 100%;
  margin: 0%;
  display: flex;
  justify-content: center;
}

.texte_promo {
  color: #fdd20b;
  text-align: justify;
  font-size: 1.5em;

}

/*test border animé*/

#promo {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-bottom: 3%;
}

.card {
  position: relative;
  width: 86%;
  height: 90%;
  color: #fff;
  background: transparent;
  overflow: hidden;
  border-top: 1px solid rgba(253, 210, 11, 0.7);
  border-right: 1px solid rgba(253, 210, 11, 0.7);
  border-bottom: 1px solid rgba(253, 210, 11, 0.7);
  border-left: 1px solid rgba(253, 210, 11, 0.7);
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin-top: 2%;
  padding-left: 2%;
  padding-right: 2%;
}

/*p {
    font-size: 0.95rem;
    text-align: justify;
  }*/

span {
  position: absolute;
  border-radius: 100vmax;
}

.top {
  top: 0;
  left: 0;
  width: 0;
  height: 5px;
  background: linear-gradient(90deg,
      transparent 50%,
      rgba(253, 210, 11, 0.5),
      rgb(253, 210, 11));
}

.bottom {
  right: 0;
  bottom: 0;
  height: 5px;
  background: linear-gradient(90deg,
      rgb(253, 210, 11, 0.5),
      rgb(253, 210, 11),
      transparent 50%);
}

.right {
  top: 0;
  right: 0;
  width: 5px;
  height: 0;
  background: linear-gradient(180deg,
      transparent 30%,
      rgba(253, 210, 11, 0.5),
      rgb(253, 210, 11));
}

.left {
  left: 0;
  bottom: 0;
  width: 5px;
  height: 0;
  background: linear-gradient(180deg,
      rgb(253, 210, 11, 0.5),
      rgba(253, 210, 11),
      transparent 70%);
}

.top {
  animation: animateTop 4s ease-in-out infinite;
}

.bottom {
  animation: animateBottom 4s ease-in-out infinite;
}

.right {
  animation: animateRight 4s linear infinite;
}

.left {
  animation: animateLeft 4s ease-in-out infinite;
}

@keyframes animateTop {
  25% {
    width: 100%;
    opacity: 1;
  }

  30%,
  100% {
    opacity: 0;
  }
}

@keyframes animateBottom {

  0%,
  50% {
    opacity: 0;
    width: 0;
  }

  75% {
    opacity: 1;
    width: 100%;
  }

  76%,
  100% {
    opacity: 0;
  }
}

@keyframes animateRight {

  0%,
  25% {
    opacity: 0;
    height: 0;
  }

  50% {
    opacity: 1;
    height: 100%;
  }

  55%,
  100% {
    height: 100%;
    opacity: 0;
  }
}

@keyframes animateLeft {

  0%,
  75% {
    opacity: 0;
    bottom: 0;
    height: 0;
  }

  100% {
    opacity: 1;
    height: 100%;
  }


  .image_de_fond_desktop {
    display: none;
  }

  .principal {
    display: flex;
    justify-content: space-between;
    margin: 20px;
  }

  .logomoh {
    height: fit-content;
    border: 1px transparent #000;
    border-radius: .45rem;
    padding: 10px 20px;
    font-size: 1.5rem;
    font-weight: bold;
    margin-top: 20px;
  }

  .logomoh a {
    text-decoration: none;
    color: #ed3c57;
  }

  .logomoh:hover {
    background-color: #fff;
    color: #000;
  }

  .logomoh a:hover {
    color: #000;
  }

  .navabr-moh .navli {
    display: flex;
  }

  .navli li {
    margin: 0 20px;
    text-decoration: none;
    list-style: none;
  }

  .navli li a {
    text-decoration: none;
    color: #FDD20B;
    list-style: none;
    font-size: 1.2rem;
    font-weight: bold;
    border-radius: .45;
  }

  .navli .active {
    color: #FDD20B;
  }

  .navli li a:hover {
    background-color: #fff;
    color: #000;
    padding: 10px 20px;
    border-radius: .45rem;
  }

  .menubut {
    position: absolute;
    width: 40px;
    top: 45px;
    right: 50px;
    display: none;

  }

  @media screen and (max-width: 768px) {
    .navabr-moh .navli {
      position: absolute;
      display: flex;
      flex-direction: column;
    }

    .menubut {
      display: block;
    }

    .navabr-moh {
      position: absolute;

      backdrop-filter: blur(4px);
      width: 100%;
      height: 100vh;
      top: 0;
      left: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-left: -100%;
      transition: 0.5s;
    }

    .mobile-menu {
      margin-left: 0;
    }

    .navli {
      align-items: center;
    }

    .navli li {
      margin: 25px 0;
      font-size: 1.2em;

    }

    .navli li a {
      color: #000;
      align-items: center;
    }

    footer {
      color: #FDD20B;

    }

    .genecond:hover {
      border: 1px transparent rgb(22, 21, 21);
      background-color: #fff;
      border-radius: .45rem;
      color: #FDD20B;
    }
  }

  footer {
    height: 10%;
    position: fixed;
    bottom: 0;
    display: flex;
    width: 100%;
    opacity: 0.7;
    color: #FDD20B;
    ;
  }

  footer .footdiv {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 1.2rem;
  }

  .footdiv .footlog {
    display: flex;
    gap: 0.4rem;
    font-weight: bold;
    margin-bottom: 20px;
  }

  .genecond {
    font-weight: bold;
  }

  .genecond a {
    text-decoration: none;
    text-transform: none;
    color: #FDD20B;
  }

  .genecond:hover {
    border: 1px transparent rgb(22, 21, 21);
    background-color: #fff;
    border-radius: .45rem;
  }

}


@media screen and (min-width:768px) {

  #promo {
    height: 100%;

  }

  main {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .image_de_fond_mobile {
    display: none;
  }

  .slider-container {
    max-width: 100%;
    height: 100%;
    background-position: center;
  }

  .image_de_fond_desktop {
    height: 100%;
  }

  .texte_promo {
    color: #fdd20b;
    text-align: center;
    font-size: 1.5em;
  }

  /*debut header Moha*/
  @media screen and (min-width:768px) {
    .principal .logomoh a img {
      height: 6rem;
    }

    .principal {
      display: flex;
      justify-content: space-between;
      padding: 12px;
    }

    .navabr-moh .navli {
      display: flex;
    }

    .navli li {
      margin: 0 20px;
      text-decoration: none;
      list-style: none;
    }

    .navli li a {
      text-decoration: none;
      color: #FDD20B;
      list-style: none;
      font-size: 1.2rem;
      font-weight: bold;
      border-radius: .45;
    }

    .navli .active {
      color: #FDD20B;
    }

    .navli li a:hover {
      background-color: #fff;
      color: #000;
      padding: 10px 20px;
      border-radius: .45rem;
    }

    .menubut {
      position: absolute;
      width: 40px;
      top: 45px;
      right: 50px;
      display: none;

    }

    .iframecont {
      height: 60%;
      width: 100%;
    }
  }

  /*header dropdown*/
  .dropbtn {
    color: #FDD20B;
    padding: 4px;
    font-weight: bold;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }

  .dropdown {

    position: relative;
    display: inline-block;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background: #FDD20B;
    border-radius: .45rem;
    left: -10px;
    padding: 1.5rem;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 90;
  }

  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-weight: bold;
  }

  .dropdown-content a:hover {
    background-color: black;
    color: #FDD20B;
  }

  .dropdown:hover .dropdown-content {
    display: block;
  }

  button.dropbtn {
    background: transparent;
  }

}